<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div align="center">
    Delete User
    <form th:method="POST" th:action="@{/users/delete(id=${user.getId()})}" th:object="${user}">
        ID:
        <input type="text" disabled th:field="*{id}">
        <label for="name"> name: </label>
        <input type="text" th:field="*{name}" id="name">
        <label for="surname"> last name: </label>
        <input type="text" th:field="*{surname}" id="surname">
        <label for="age"> age: </label>
        <input type="text" th:field="*{age}" id="age">
        <input type="submit" value="delete">
    </form>
</div>
</body>
</html>