<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div align="center">
    <form th:method="post" th:action="@{/users/update(id=${user.getId()})}" th:object="${user}">
        <table border="0" cellpadding="5">
            <tr>
                <td>ID: </td>
                <td><input type="text" disabled th:field="*{id}"></td>
            </tr>
            <tr>
                <td><label for="name">Name: </label></td>
                <td><input type="text" th:field="*{name}" id="name" min="2" max="45" required pattern="[a-zA-Z]+"></td>
                <td>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                </td>
            </tr>
            <tr>
                <td><label for="lastName">Surname: </label></td>
                <td><input type="text" th:field="*{surname}" id="lastName" min="2" max="45" required pattern="[a-zA-Z]+"></td>
                <td>
                    <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
                </td>
            </tr>
            <tr>
                <td><label for="age">Age: </label></td>
                <td><input type="number" th:field="*{age}" id="age" value="" min="18" required pattern="[0-9]+"></td>
                <td>
                    <div th:if="${#fields.hasErrors('age')}" th:errors="age">Age Error</div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="update"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>