<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<div align="center">
    <h2>New User</h2>
    <form th:action="@{/users/new}" method="post" th:object="${user}">
        <table border="0" cellpadding="5">
            <tr>
                <td>Name:</td>
                <td>
                    <input type="text" th:field="*{name}" min="2" max="45" required pattern="[a-zA-Z]+"/>
                </td>
                <td>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                </td>
            </tr>
            <br/>
            <br/>
            <tr>
                <td>Surname:</td>
                <td>
                    <input type="text" th:field="*{surname}" min="2" max="45" required pattern="[a-zA-Z]+"/>
                </td>
                <td>
                    <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
                </td>
            </tr>
            <br/>
            <br/>
            <tr>
                <td>Age: </td>
                <td><input type="number" id="age" name="age" value="" min="18" required pattern="[0-9]+"/></td>
                <td>
                    <div th:if="${#fields.hasErrors('age')}" th:errors="age">Age Error</div>
                </td>
            </tr>
                <br/>
                <br/>
            <tr>
                <td>Button: </td>
                <td colspan="5">
                    <input type="submit" value="Save USER">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>